*{
    color: white;
}


.logo{
    height: 70px;
    margin-left: 300px;
}
header{
    background-color:#06131f ;
}
main{
    background-color: #1d2d3c;
    height: 100vh;
}
.poster{
    width: 170px;
    aspect-ratio: 1/1;
    margin: 1rem;
}
.col-3{
    background-color:#06131f ;
    border-radius: 10px;
   
}
h3{
    font-size: 20px;
}
p{
    color: rgb(161, 161, 161);
}